
*.log
Saved/Crashes/UE4CC-Windows-E7DF847E432FCCBF5DA505819FA8AD86_0000/CrashReportClient.ini
Saved/Logs/VirtualUP.log
Saved/Config/CrashReportClient/UE4CC-Windows-51DE28E142491C12AD2E4DB0B5F7CEB6/CrashReportClient.ini
Saved/AutoScreenshot.png
*.ini
*.ini
